@import 'font/font.css';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: #000000;
}

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}


.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.landing > .cover {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: 50% 50%;
}

.landing > .title {
  position: absolute;
  width: 741px;
  height: 155px;
  left: calc(50% - 741px/2 - 0.5px);
  top: calc(50% - 155px/2 - 75.5px);
  font-family: Product Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 128px;
  line-height: 155px;
  text-align: center;
  color: #FFFFFF;
}

.landing > .description {
  position: absolute;
  width: 800px;
  height: 140px;
  left: calc(50% - 800px/2 - 0.5px);
  top: calc(50% - 140px/2 + 84px);
  font-family: Noto Sans KR, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}

.landing > .description > span {
  display: inline-block;
}

.landing > .description > span.highlight {
  position: relative;
  margin: 8px 0 0 0;
  padding: 4px 12px;
  z-index: 1;
}

.landing > .description > span.highlight::before {
  display: block;
  position: absolute;
  left: 0;
  right: 100%;
  top: 4px;
  bottom: 4px;
  content: '';
  background: linear-gradient(90deg, #FF50A0 0%, #FF298B 100%);
  border-radius: 8px;
  transition: 1s cubic-bezier(.53,.07,.24,.98);
  z-index: -1;
}

.landing > .description > span.highlight.active::before {
  right: 0;
}

.landing > .scroll {
  position: absolute;
  width: 128px;
  height: 128px;
  left: calc(50% - 128px/2);
  bottom: 38px;
  cursor: pointer;
}
