@font-face {
  font-family: Product Sans;
  src: url(product_sans_bold.woff2) format('woff2'), url(product_sans_bold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 400;
  src: url(noto_regular.woff2) format('woff2'), url(noto_regular.woff) format('woff')
}

@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  src: url(noto_medium.woff2) format('woff2'), url(noto_medium.woff) format('woff')
}

@font-face {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 700;
  src: url(noto_bold.woff2) format('woff2'), url(noto_bold.woff) format('woff')
}
